<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.kdh.system.book.bookVO" alias="bookVO"></typeAlias>
		<typeAlias type="com.kdh.system.user.managerVO"
			alias="managerVO"></typeAlias>
		<typeAlias type="com.kdh.system.user.companyVO"
			alias="companyVO"></typeAlias>
			<typeAlias type="com.kdh.system.order.orderVO"
			alias="orderVO"></typeAlias>
			<typeAlias type="com.kdh.system.order.orderDetailVO"
			alias="orderDetailVO"></typeAlias>
			<typeAlias type="com.kdh.system.order.testVO"
			alias="testVO"></typeAlias>
	</typeAliases>

	<mappers>
		<mapper resource="mappings/book-mapping.xml" />
		<mapper resource="mappings/user-mapping.xml" />
		<mapper resource="mappings/order-mapping.xml" />
	</mappers>
</configuration>
